/* Global Styles */

/* ------------------------------- */
html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f8f8f8;
    padding-top: 100px;
    font-size:12px;
}

@media(min-width:768px) {
    body {
        padding-top: 80px;
    }
}

a {
    color: #000;
}
.navbar a {
    color: #fff;
}


.btn{
    bottom: 15px;
    position: relative;
    top: 0px;
}
h1 {
    margin-top: 0px;
}

/* Wrappers */

/* ------------------------------- */
#wrapper {
    width: 100%;
    background-color: #262a33;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

/* Navigation */

.navbar-fixed-top {
  background-color: #4F91B4;
  min-height: 80px
}

.navbar-brand {
    color: #fff !important;
    min-width:250px;
    height: 80px;
    border: 0px;
    padding: 25px 20px 20px 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    background-color: #3e7592;
}

.navbar-header:hover {
    background-color: #3e7592;
}

.navbar-header>a:hover {
    color: #fff !important;
    background-color: #3e7592;

}
.navbar-form {
    margin: 15px 0 0 15px;
}

.navbar-form .form-control {
    width: 400px;
    height: 50px;
    background-color: #3e7592;
    color: #fff;
    border: 0;
}

.navbar-form .form-control::-webkit-input-placeholder {
    color: #fff;
}
.navbar-form .form-control:-moz-placeholder {
    color: #fff;
}
.navbar-form .form-control::-moz-placeholder {
    color: #fff;
}
.navbar-form .form-control:-ms-input-placeholder {
    color: #fff;
}

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

 .navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 30px;
    min-height: 80px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */
#side-menu>li {
    padding: 25px;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 100;
    text-transform: uppercase;
    border-bottom: 1px solid #1d2027;
}

#side-menu>li>a {
    color: #efefef;
}

#side-menu>li.active {
    background-color: #1d2027;
}
#side-menu>li:hover {
    background-color: #1d2027;
    cursor: pointer;
    cursor: hand;
}
#side-menu>li>a:hover {
    background-color: #1d2027;
    color: #fff;
}


.sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 80px;
        background-color: #262a33;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/* Buttons */

/* ------------------------------- */

 .btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.error-label {
    display: block;
}
